{% extends "maps_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
<style>
    .col-sm {
        padding: 0.14vw;
    }
    .col-sm-2 {
        padding: 0.14vw;
    }
</style>
<style>
    .map {
      height: 63.2vh;
      width: 100%;
    }
</style>
{% endblock %}

{% block content %}

<!-- Start Content-->
    <div>
        {% if mobile %}
            <div style="margin-top: 1vh; margin-left: 3vw; margin-right: 3.3vw;">
        {% else %}
            <div style="margin-top: 1vh; margin-left: 1vw; margin-right: 0.6vw;">
        {% endif %}
            
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div style="height:32.3vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                        <div style="padding-top: 1vh;">
                            <h6 style="padding-left: 0.6vw; margin-bottom: 0em;">ESTADO GENERAL</h6>
                            <spen style="padding-left: 0.6vw;">Indicador promedio</spen>
                        </div>
                        <div id="relojdiv" style="height:84%; width: 100%;">

                        </div>
                    </div>

                    <div style="height:32.3vh; background-color:white;" class="border-1" id="hidden_div">
                        <div style="padding-top: 1vh;">
                            <h6 style="padding-left: 0.6vw; margin-bottom: 0em;">Recuento de Municipios</h6>
                        </div>
                        <div id="barrasdiv" style="height:90%; width: 100%;">


                        </div>
                    </div>


                    <div style="height:32.3vh; background-color:white; display: none;" class="border-1" id="hidden_div_1">
                        <div style="padding-top: 1vh;">
                            <h6 style="padding-left: 0.6vw; margin-bottom: 0em;">Información General</h6>
                            <div style="height: 80%; padding: 3%;">
                                <table class="table" id="inf_general" style="font-size: 1.2vh;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Indicador</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Municipio</th>
                                            <td id="tab_mun"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Departamento</th>
                                            <td id="tab_dep"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Ranking General</th>
                                            <td id="tab_ran"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Ranking Departamental</th>
                                            <td id="tab_ran_dep"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            


                <div class="col-xs-12 col-sm-6">
                    <div class="row" style="padding-left: 0.2vw; padding-right: 0.5vw; padding-top: 0.6vh;">
                        <div style="height:65.4vh; background-color:#e7e7e7; margin-bottom: 1vh ;" >

                            <div id="map" style="height: 100%; width: 100%; margin-left: 0%; padding-left: 0%;" class="border-1"></div>
                          
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4" style="margin-left: 0% !important; padding-left: 0%; margin-right: 0%; padding-right: 0.7vw;">

                    <div class="col-xs-12 col-sm-12">
                        <div style="height:16.3vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                            <div class="row" style="text-align: center; padding-top: 0.1vh">
                                <h6>Niveles de falta de capacidad de respuesta</h6>
                            </div>
                            <div class="row" style="margin: 0%; padding: 3%;">
                                <div class="col" style="text-align: center;">
                                    <h6 style="font-size: 1.7vh;">Muy Bajo</h6>
                                    <button type="button" class="btn" onclick="ries(1)" style="border-radius: 50%; height: 5vh; width: 5vh; background-color: #E1E9D8;"></button>
                                </div>
                                <div class="col" style="text-align: center;">
                                    <h6 style="font-size: 1.7vh;">Bajo</h6>
                                    <button type="button" class="btn" onclick="ries(2)" style="border-radius: 50%; height: 5vh; width: 5vh; background-color: #C4D2B0;"></button>
                                </div>
                                <div class="col" style="text-align: center;">
                                    <h6 style="font-size: 1.7vh;">Medio</h6>
                                    <button type="button" class="btn" onclick="ries(3)" style="border-radius: 50%; height: 5vh; width: 5vh; background-color: #A7BD88;"></button>
                                    
                                </div>
                                <div class="col" style="text-align: center;">
                                    <h6 style="font-size: 1.7vh;">Alto</h6>
                                    <button type="button" class="btn" onclick="ries(4)" style="border-radius: 50%; height: 5vh; width: 5vh; background-color: #506237;"></button>
                                    
                                </div>
                                <div class="col" style="text-align: center;">
                                    <h6 style="font-size: 1.7vh;">Muy Alto</h6>
                                    <button type="button" class="btn" onclick="ries(5)" style="border-radius: 50%; height: 5vh; width: 5vh; background-color: #354224;"></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        
                        
                        <div class="col-xs-12 col-sm-6">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;">Reducción del riesgo</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <div class="fs1" style="text-align: start;">
                                                <div class="clearfix" style="font-size: 4vh;">
                                                    <span class="icon-rrd"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="rrd" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;"> Gestión Municipal</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <i class="fas fa-landmark"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="gestion_municipal" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;"> Comunicación</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="comunicacion" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-xs-12 col-sm-6">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;"> Infraestructura</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <i class="fas fa-road"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="infraestructura" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;"> Salud</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <i class="fas fa-ambulance"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="salud" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;"> INFORM Institucional</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <div class="fs1" style="text-align: start;">
                                                <div class="clearfix" style="font-size: 4vh;">
                                                    <span class="icon-infom-institucional"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="inform_institucional" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12">
                            <div style="height:11.45vh; background-color:white; margin-bottom: 1vh ;" class="border-1">
                                <div style="text-align: center; color: #4c4c4c;">
                                    <h6 style="font-size: 1.8; padding: 0% !important; margin: 0% !important;"> INFORM Infraestrucutra</h6>
                                </div>
                                <div class="row" style="margin: 0%; padding: 0%;">
                                    <div class="col-1">
                                        <div style="height:12vh; font-size: 4vh; text-align: right; color: #70a800; padding-top: 2vh;">
                                            <div class="fs1" style="text-align: start;">
                                                <div class="clearfix" style="font-size: 4vh;">
                                                    <span class="icon-infom-infraestructura"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div style="text-align: center; height:100%; width: 99%;" id="inform_infraestrucutra" >
                                    
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Content-->

{% endblock %}
{% block extra_javascript %}
<script>
    var host = ("{{host|escapejs}}");    
</script>
<script src="{% static 'js/dash4/map.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dash4/reloj.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dash4/cards.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dash4/bars.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dash4/info.js' %}" type="text/javascript"></script>
<script>
    function ries(a){
        $("#riesgo").val(a).change();
    }
    $('#municipio').select2({
        theme: "bootstrap4",
        language: 'es'
    });
</script>
<!--script>
</script-->
{% endblock%}