{% extends "base.html" %}
{% load static i18n %}

{% block body_extra %}
 style="background:#e7e7e7;"
{% endblock %}

{% block page_content %}

  <!-- Begin page -->
  <div id="wrapper">

    {% block topbar %}
      {% include 'partials/topbar_2.html' %}
    {% endblock %}

    {% block sidebar %}
      {% include 'partials/sidebar.html' %}
    {% endblock %}

    <div class="content-page">
      <div class="content">
        {% include 'partials/messages.html' %}
        {% block content %}{% endblock %}
      </div>
      {% block footer %}
      {% include 'partials/footer_logos.html' %}
      {% endblock %}
    </div>
  </div>
  <!-- END wrapper -->
{% endblock %}
