@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ct6re4');
  src:  url('fonts/icomoon.eot?ct6re4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ct6re4') format('truetype'),
    url('fonts/icomoon.woff?ct6re4') format('woff'),
    url('fonts/icomoon.svg?ct6re4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-degradacion-ambiental:before {
  content: "\e900";
}
.icon-dependencia:before {
  content: "\e901";
}
.icon-desarrollo-pobreza:before {
  content: "\e902";
}
.icon-desastres:before {
  content: "\e903";
}
.icon-desprotegida:before {
  content: "\e904";
}
.icon-facares:before {
  content: "\e905";
}
.icon-infom-infraestructura:before {
  content: "\e906";
}
.icon-infom-institucional:before {
  content: "\e907";
}
.icon-infom-natural:before {
  content: "\e908";
}
.icon-rrd:before {
  content: "\e909";
}
